<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
         <h:outputStylesheet library="css" name="styles.css"/> 
        <title>Caisse Cinéma</title>
    </h:head>
    <h:body styleClass="body">
        <f:view>
            <h:form styleClass="formulaire">
                
               <p:panel   header="Caisse Cinéma"   styleClass="infos"> 
                   
                <p:panelGrid columns="2">
                    
                  <p:panelGrid columns="2" >
                      
                    <p:outputLabel for="s1"   value="Nombre d'adultes "/>  
                    <p:spinner  id="s1"   min="0" size="1" 
                                value="#{controleurCaisseCine.nbAdultes}"  
                    > 
                        <p:ajax listener="#{controleurCaisseCine.faireLesCalculs()}" 
                                update="resultats" 
                        />
                    </p:spinner>
                    
                    <p:outputLabel for="s2"   value="Nombre d'étudiants "/>  
                    <p:spinner id="s2"   min="0" size="1" 
                               value="#{controleurCaisseCine.nbEtudiants}"     
                    > 
                        <p:ajax  listener="#{controleurCaisseCine.faireLesCalculs()}"
                                 update="resultats" />
                    </p:spinner>
                    
                    <p:outputLabel for="s3"   value="Nombre d'enfants"/>  
                    <p:spinner id="s3"   min="0"   size="1"   
                               value="#{controleurCaisseCine.nbEnfants}"
                    > 
                     <p:ajax  listener="#{controleurCaisseCine.faireLesCalculs()}" 
                              update="resultats" />
                    </p:spinner> 
                    
                    <p:outputLabel for="cb"   value="Promotion? "/>
                    <p:selectBooleanCheckbox  id="cb" 
                                              value="#{controleurCaisseCine.jourPromo}"
                    > 
                       <p:ajax  listener="#{controleurCaisseCine.faireLesCalculs()}"
                                update="resultats" 
                       />
                    </p:selectBooleanCheckbox> 
                 
                  </p:panelGrid> 
                       
 
                 <p:panelGrid  id="resultats" columns="2">
                    
                    <p:outputLabel for="ot1"   value="Montant à payer "/>  
                    <h:outputText id="ot1" value="#{controleurCaisseCine.montantFacture}" 
                                  class="resultat"
                     > 
                    
                      <f:convertNumber type="currency" currencySymbol="€"   
                                       groupingUsed="true" minFractionDigits="2"   
                                       minIntegerDigits="3"
                      />
                    </h:outputText>
                    
                    <p:outputLabel for="ot2"   value="Prix moyen de la place "/>  
                    <h:outputText  id="ot2" value="#{controleurCaisseCine.prixMoyenPlace}" 
                                   class="resultat">
                      <f:convertNumber type="currency" currencySymbol="€" 
                                       groupingUsed="true"  minIntegerDigits="3" 
                                       minFractionDigits="2" 
                      />
                  
                    </h:outputText>
                    
                    <p:commandButton value="RAZ" action="#{controleurCaisseCine.raz()}" update="@form"/>
                
                 </p:panelGrid>
                    
               </p:panelGrid>     
              
               </p:panel>  
                
            </h:form>
           
        </f:view>
    </h:body>
</html>

